<!-- footer begin -->
        <footer class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="single-foot">
                                <h3>Our Company</h3>
                                <ul>
                                    <li><a href="#"><i class="icofont-rounded-right"></i> About</a></li>
                                    <li><a href="#"><i class="icofont-rounded-right"></i> Partner With Us</a></li>
                                    <li><a href="#"><i class="icofont-rounded-right"></i> Business News Daily</a></li>
                                    <li><a href="#"><i class="icofont-rounded-right"></i> Acceptable Use Policy</a></li>
                                    <li><a href="#"><i class="icofont-rounded-right"></i> Terms of Use</a></li>
                                    <li><a href="#"><i class="icofont-rounded-right"></i> Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="single-foot">
                                <h3>Important Links</h3>
                                <ul>
                                    <li><a href="#"><i class="icofont-rounded-right"></i> About</a></li>
                                    <li><a href="#"><i class="icofont-rounded-right"></i> Partner With Us</a></li>
                                    <li><a href="#"><i class="icofont-rounded-right"></i> Business News Daily</a></li>
                                    <li><a href="#"><i class="icofont-rounded-right"></i> Acceptable Use Policy</a></li>
                                    <li><a href="#"><i class="icofont-rounded-right"></i> Terms of Use</a></li>
                                    <li><a href="#"><i class="icofont-rounded-right"></i> Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="single-foot">
                                <h3>Featured Services</h3>
                                <ul>
                                    <li><a href="#"><i class="icofont-rounded-right"></i> About</a></li>
                                    <li><a href="#"><i class="icofont-rounded-right"></i> Partner With Us</a></li>
                                    <li><a href="#"><i class="icofont-rounded-right"></i> Business News Daily</a></li>
                                    <li><a href="#"><i class="icofont-rounded-right"></i> Acceptable Use Policy</a></li>
                                    <li><a href="#"><i class="icofont-rounded-right"></i> Terms of Use</a></li>
                                    <li><a href="#"><i class="icofont-rounded-right"></i> Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>


                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="single-foot">
                                <h3>Latest News</h3>
                                <div class="single-news">
                                    <div class="part-img">
                                        <img src="assets/img/latest-news-1.jpg" alt="">
                                    </div>
                                    <div class="part-text">
                                        <h4>Four Reasons Why Small Businesses Fail to Grow</h4>
                                        <h5>December 2, 2018</h5>
                                    </div>
                                </div>


                                <div class="single-news">
                                    <div class="part-img">
                                        <img src="assets/img/latest-news-1.jpg" alt="">
                                    </div>
                                    <div class="part-text">
                                        <h4>Four Reasons Why Small Businesses Fail to Grow</h4>
                                        <h5>December 2, 2018</h5>
                                    </div>
                                </div>


                                <div class="single-news">
                                    <div class="part-img">
                                        <img src="assets/img/latest-news-1.jpg" alt="">
                                    </div>
                                    <div class="part-text">
                                        <h4>Four Reasons Why Small Businesses Fail to Grow</h4>
                                        <h5>December 2, 2018</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <div class="copiright">
                                <p>Copyright © 2019.All Rights Reserved By Bizera</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="social">
                                <a href="#"><i class="icofont-facebook"></i></a>
                                <a href="#"><i class="icofont-twitter"></i></a>
                                <a href="#"><i class="icofont-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer end -->