{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="google-site-verification" content="kuMRjQcev9zUmTJMvM3Msys4RJtKEaOCTsustTbksOo" />

      <title>Plutus | Home</title>
        {% include 'base/css.html' %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131156260-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131156260-2');
</script>

        {% block base_head %}{% endblock %}
    </head>
    <body>
    <div class="preloader">
            <div class="loader"></div>
        </div>
      {% include 'base/navbar.html' %}
      <div class='container-fluid' style="padding-right:0px !important; padding-left:0px !important;">
        {% if messages %}
      <div class="alert alert-success messages">
          {% for message in messages %}
          <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>
              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
              {{ message }}<br/>
          </span>
          {% endfor %}
      </div>
      {% endif %}
      {% block content %}{% endblock %}
          {% include 'base/footer.html' %}
    </div>

        {% include 'base/js.html' %}
        {% block javascript %}

        {% endblock %}
    <script type='application/ld+json'>
{
  "@context": "http://www.schema.org",
  "@type": "ProfessionalService",
  "name": "Plutus Loyalty",
  "url": "http://plutusloyalty.com/",
  "description": "CFS Enterprises has utilized its age old experience to fabricate Plutus Loyalty Program and the Plutus Card. We are already bestowing quality services to our huge list of clientele and are looking forward to join hands with new clients as well.",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Floor 7, Advantage Tower EN Block, Sector V",
    "addressLocality": "Kolkata",
    "addressRegion": "West Bengal",
    "postalCode": "700019",
    "addressCountry": "India"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": "22.57561",
    "longitude": "88.4318399"
  },
  "openingHours": "Mo, Tu, We, Th, Fr 10:00-19:00 Sa 10:00-18:00",
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "9836353112"
  }
}
 </script>
    </body>
  </html>