{% extends "base.html" %}
{% load static %}

<title>Home Page Template</title>

{% block base_head %}
<link rel='stylesheet' href='{% static "css/main.css" %}' >
{% endblock %}

{% block content %}
<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>Introspect: <span>A free + fully responsive<br />
					site template by TEMPLATED</span></h1>
					<ul class="actions">
						<li><a href="#" class="button alt">Get Started</a></li>
					</ul>
				</div>
			</section>
            <section id="one">
				<div class="inner">
					<header>
						<h2 class="color-h2">Magna Etiam Lorem</h2>
					</header>
					<p class="color-content">Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula. Integer adipiscin sem. Nullam quis massa sit amet nibh viverra malesuada. Nunc sem lacus, accumsan quis, faucibus non, congue vel, arcu, erisque hendrerit tellus. Integer sagittis. Vivamus a mauris eget arcu gravida tristique. Nunc iaculis mi in ante.</p>
					<ul class="actions">
						<li><a href="#" class="button alt">Learn More</a></li>
					</ul>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{% static 'img/membership_card.jpg'%}" alt="">
                        </div>
                        <div class="col-md-6" style="border-left: 1px solid #000;">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </div>
                    </div>
					<div class="row" style="padding-top:10%;">
                        <div class="col-md-6" style="border-right: 1px solid #000;">
							<p style="padding-right:15px;">
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
							</p>
                        </div>
                        <div class="col-md-6" >
                            <img src="{% static 'img/avail.jpg'%}" alt="">
                        </div>
                    </div>
				</div>
			</section>
{% if request.user.is_authenticated %}

{% endif %}


{% endblock %}

