{% extends "base.html" %}
{% url 'register' as register_url %}
{% load static %}


<title>Home Page Template</title>

{% block base_head %}
<link rel='stylesheet' href='{% static "css/main.css" %}' >
{% endblock %}

{% block content %}
<div class="banner">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-8">
                        <div class="banner-content">
                            <h1><span>Plutus</span> Card Loyalty program</h1>
                            <p>Every one of us desires best-in-class services at fair and discounted prices. But how!
CFS Enterprises LLP understands your concern. To assist you in getting imperial services without hassles, it has brought to you an on-the-go convenience card to unlock your happiness and enjoy breath-taking discounts on multiple merchandize across India.
So now, think Deals and Discounts? Think Plutus!
</p>
                            <a href="/register/">get started now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<!-- counter begin -->
        <div class="counter">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-sm-4">
                        <div class="single-counter">
                            <div class="part-icon">
                                <img src="assets/img/employee.svg" alt="">
                            </div>
                            <div class="part-text">
                                <h2 class="number">20</h2>
                                <h3 class="title">employee</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-sm-4">
                        <div class="single-counter">
                            <div class="part-icon">
                                <img src="assets/img/feedback.svg" alt="">
                            </div>
                            <div class="part-text">
                                <h2 class="number">50+</h2>
                                <h3 class="title">satisfied clients</h3>
                            </div>
                        </div>
                    </div>


                    <div class="col-xl-4 col-lg-4 col-sm-4">
                        <div class="single-counter">
                            <div class="part-icon">
                                <img src="assets/img/trophy.svg" alt="">
                            </div>
                            <div class="part-text">
                                <h2 class="number">2</h2>
                                <h3 class="title">winning awards</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scroll-button">
                <a href="#choosing-reason"><img src="{% static 'img/download-arrow.svg'%}" alt=""></a>
            </div>
        </div>
        <!-- counter end -->

<!-- choosing reason begin -->
        <div id="choosing-reason" class="choosing-reason">
            <div class="container">
                <div class="row justify-content-xl-center justify-content-lg-center justify-content-md-center">
                    <div class="col-xl-6 col-lg-7 col-md-8">
                        <div class="section-title-area">
                            <h5>Take A Look</h5>
                            <h2>Why Choose Us</h2>
                            <p>CFS has shaken its hands with the merchants who promise to offer quality and are recognized on an international scale.
                                We have incorporated access to all possible services in a single convenience card to keep you away from the complexities of managing multiple reward coupons.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-sm-6">
                        <div class="single-reason">
                            <div class="part-icon">
                                <img src="{% static 'img/group.svg'%}" alt="">
                            </div>
                            <div class="part-text">
                                <h3>Who We Are?</h3>
                                <p>Today there is someone who cares for your needs. CFS Enterprises LLP has brought for you the all in one solution called Plutus card Loyalty Program so that you can bag the most amazing deals across India on 50+ premium merchandize and services.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-sm-6">
                        <div class="single-reason">
                            <div class="part-icon">
                                <img src="{% static 'img/hand-shake.svg'%}" alt="">
                            </div>
                            <div class="part-text">
                                <h3>What We Do?</h3>
                                <p>Plutus card Loyalty program is designed to benefit you in multiple ways and will help you save a hole in the pocket. Our clients will get the best premium services at the finest places in India, with multifarious gift and cashback options.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-sm-6">
                        <div class="single-reason">
                            <div class="part-icon">
                                <img src="{% static 'img/secure-shield.svg'%}" alt="">
                            </div>
                            <div class="part-text">
                                <h3>Why Trust us?</h3>
                                <p>There is a massive range of reasons why people love our card and it is selling like hot cakes. This Card is just not limited to a few services. One card is enough to get amused with immense services which are sourced from the best-in-class service.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- choosing reason end -->


        <!-- about begin -->
        <div class="about">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-5 col-md-10 d-xl-flex d-lg-flex d-block align-items-center">
                        <div class="about-content">
                            <div class="section-title-area">
                                <h5>A Few Words</h5>
                                <h2>About Us</h2>
                            </div>
                            <p>CFS Enterprises has always worked in the favor of people and to deliver them with the best services. We are a team of zealous and innovative candidates who are capable of designing loyalty programs that are suitable for the needs of everyone- from individual customers to the corporate workers. </p>
                            <a href="/about/">Read More</a>
                        </div>
                    </div>

                    <div class="col-xl-7 col-lg-7">
                        <div id="chart_div"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- about end -->
<!-- overview begin -->
        <div class="overview">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-7 col-sm-8 col-md-10">
                        <div class="section-title-area">
                            <h5>Take A Look</h5>
                            <h2>Overview</h2>

                        </div>
                    </div>
                </div>

                <div class="row justify-content-xl-between justify-content-lg-between justify-content-center d-flex">
                    <div class="col-xl-6 col-lg-5">
                        <div class="part-img">
                            <img src="{% static 'img/overview-bg.jpg'%}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-sm-8 d-xl-flex d-lg-flex align-items-center">
                        <div class="overview-text">
                            <div class="single-overview">
                                <div class="part-icon">
                                    <img src="{% static 'img/interview.svg'%}" alt="">
                                </div>
                                <div class="part-text">
                                    <h3>Competent Professional</h3>
                                    <p>CFS Enterprises is committed to support its customers while benefiting them in every way. Our loyalty programs cover all kinds of services- from hospitality to bonus programs. Also, CFS Enterprises has made it possible to present the loyalty coupon in the form of gift to the employees and family members.</p>
                                </div>
                            </div>


                            <div class="single-overview">
                                <div class="part-icon">
                                    <img src="{% static 'img/customer-service.svg'%}" alt="">
                                </div>
                                <div class="part-text">
                                    <h3>Superior Service</h3>
                                    <p>Delivering quality and yet maintaining the affordability is our only mission. CFS Enterprises has incorporated best services in its Plutus Card, while keeping the cost economical and affordable for all.</p>
                                </div>
                            </div>


                            <div class="single-overview">
                                <div class="part-icon">
                                    <img src="{% static 'img/bill.svg'%}" alt="">
                                </div>
                                <div class="part-text">
                                    <h3>Competitive Pricing</h3>
                                    <p>We follow a strong objective to cater to the needs of hundreds and thousands of customers with promising services. And for that, we have partnered with the right merchants who are capable of delivering our signature statement.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- overview end -->

        <!-- subscribe mail begin -->
        <div class="subscribe-mail">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="subscribe-mail-area">
                            <div class="row d-flex justify-content-between">
                                <div class="col-xl-5 col-lg-5">
                                    <div class="part-text">
                                        <h2>Subcriber for Newsletter</h2>
                                        <p>Subscribe now and receive weekly netwsletter for latest news and much more! </p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 d-flex align-items-center">
                                    <div class="part-form">
                                        <form>
                                            <input type="email" placeholder="Enter Your Mail Address">
                                            <button type="submit">Subscribe Now</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- subscribe mail end -->


{% if request.user.is_authenticated %}

{% endif %}


{% endblock %}

