{% extends "base.html" %}

{% block content %}
<!-- pricing-content begin -->
        <div class="pricing-content">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-8 col-md-10">
                        <div class="section-title-area">
                            <h5>Pricing Table</h5>
                            <h2>Choose the right product</h2>
                            <p>A Plutus card in your pocket will save many bucks. With over 50+ and counting top-notch merchandize and services made accessible to you at discounted prices, here are our premium network partners</p>
                        </div>
                    </div>
                </div>
            </div>
<div class="">
                <div class="container">
                    <div class="row justify-content-sm-center justify-content-md-start">
                        {% for obj in object_list %}
                        <div class="col-xl-4 col-lg-4 col-sm-8 col-md-6">
                            {% include 'products/snippets/card.html' with instance=obj %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}